@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

.searchbar{
  outline: none;
  border: 2px solid #c6c6c6;
  padding: 0 1.5em;
}

.searchbar:focus, .searchbar:hover{
  border: 2px solid #8e3ac9;
}

.buton{
  background-color: #8e3ac9;
  border-color: #8e3ac9;
  font-weight: bold;
  color: white;
  border-style: none;
  border-radius: 5px;
}

.buton:hover{
  background-color: #963dd4;
  border-color: #963dd4;
}

.nav-bar, #navLink{
  font-weight: bold;
  color: #8e3ac9;
  text-shadow: white 0 0 0.2em;
}

#navLink:hover{
  text-decoration: underline;
}

.homepage{
  background: url(./homepage-bg.jpg);
  background-size: "cover";
  background-position: "center";
  backdrop-filter: blur(10px);
  height: 100vh;
  width: 100%;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.hr-line{
  color: #8e3ac9;
}

.contact-tf, .contact-ta{
  outline: none;
  border: none;
  border-bottom: 3px solid #969696;
  margin: 1.5em 0;

}

.contact-tf{
  height: 2.75rem;
}

.contact-ta{
  height: 6em;
}

.contact-ta:focus, .contact-tf:focus{
  border-color: #8e3ac9;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.pagination li {
  display: inline-block;
  margin-right: 0.5rem;
}

.pagination li a,
.pagination li span {
  display: block;
  padding: 0.5rem;
  text-decoration: none;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.pagination li a:hover,
.pagination li a:focus,
.pagination li span:hover,
.pagination li span:focus {
  background-color: #ccc;
}

.pagination li.selected {
  background-color: #8e3ac9;
  color: #fff;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
